body{
    margin:0 25% 0 25%;
    font-size: 24px;
}


h1{
    text-align: center;
}

.row{
    height:7.5vw;
}
.row button{
    width:25%;
    height:100%;
}


#display{
    text-align:center;
    vertical-align: middle;
    background-color: grey;
    border:solid black 0.5vw;
}

.displayP{
    margin-top: 0;
    margin-bottom: 0;
    
}

.mainDiv{
    text-align: center;
    height:auto;
    width:auto;
    background-color: grey;
}

#row5{
    width: 100%;
}
#equals{
    width:100%;
}

.mainDiv p{
    font-size:9vw;
}
.mainDiv button{
    border:solid black 0.5vw;
    background-color: darkcyan;
    font-size: 5vw;
}
#add, #multiply, #divide, #subtract{
    background-color: green;
}
