body{
    margin:0 25% 0 25%;
    font-size: 5vh;
    text-align: center;
}

h1{
    font-size: 2.5rem;
}

.row{
    height:20%;
}
.row button{
    width:25%;
    height:100%;
    box-shadow:0px 1px 2px rgba(0,0,0,0.5);
    margin: 0;
}



#display{
    background-color: grey;
    border:solid black 0.5vh;
}

.displayDiv{
    padding:auto;
}

.displayP{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;

}

.mainDiv{
    text-align: center;
    height:40vh;
    max-width:30vh;
    margin:auto;
    background-color: grey;
}

.rows{
    height: 100%;
    margin: 0;
    padding: auto;
}


#row5{
    width: 100%;
}
#equals{
    width:100%;
}


.mainDiv button{
    border:solid black 0.5vh;
    background-color: darkcyan;
    font-size: 1.5rem
}
#add, #multiply, #divide, #subtract{
    background-color: green;
}

